  
<!-- Corpus specific content here -->
<div class="wrapper jcard has-padding-30 blocks">


    <h1 class="heading-1">9 C.F.R. Animals and Animal Products<br><span style="font-size: 0.75em;">
</span></h1><table class="updatebodytest" border="" width="610"><tbody><tr align="CENTER"> <th> <i><font size="2">Title</font></i></th><th> <i><font size="2">Volume</font></i></th><th> <i><font size="2">Chapter</font></i></th><th> <i><font size="2">Browse Parts</font></i></th><th> <i><font size="2">Regulatory&nbsp;Entity</font></i></th></tr><tr> 
<td rowspan="10" align="left" valign="top"><b><font size="2">Title 9 <br>Animals and Animal Products</font></b></td>
<td align="right" valign="top"><font size="2">1</font></td>
<td align="right" valign="top"><font size="2">I</font></td>
<td align="right" valign="top"><a href="/cfr/title09/9cfrv1_02.html"><font size="2">1-199</font></a></td>
<td valign="top"><font size="2">Animal and Plant Health Inspection Service, Department of Agriculture</font></td></tr><tr> <td rowspan="2" align="right" valign="top"><font size="2">2</font></td>
<td align="right" valign="top"><font size="2">II</font></td>
<td align="right" valign="top"><a href="/cfr/title09/9cfrv2_02.html"><font size="2">200-299</font></a></td>
<td valign="top"><font size="2">Grain Inspection, Packers and Stockyards Administration (Packers and Stockyards Programs), Department of Agriculture</font></td></tr><tr> <td align="right" valign="top"><font size="2">III</font></td>
<td align="right" valign="top"><a href="/cfr/title09/9cfrv2_02_300.html"><font size="2">300-599</font></a></td>
<td valign="top"><font size="2">Food Safety and Inspection Service, Department of Agriculture</font></td></tr></tbody></table>


<div class="wrapper">
<div class="small-font"><br><strong>Disclaimer:</strong> These codes may not be the most recent version. <a href="/cfr/resource.html">The United States</a> may have more current or accurate information. We make no warranties or guarantees about the accuracy, completeness, or adequacy of the information contained on this site or the information linked to on the state site. Please check official sources.</div>				</div>
    <!-- This is the place for the lower nav bar and footer -->
</div>