<div class="page-layout blank p-24" perfect-scrollbar>

        <h1>U.S. Constitution Annotated</h1>This edition of the Congressional Research Service's U.S. Constitution Annotated is a hypertext interpretation of the CRS text, updated to the currently published version. It links to Supreme Court opinions, the U.S. Code, and the Code of Federal Regulations, as well as enhancing navigation through search, breadcrumbs, linked footnotes and tables of contents.
        <div class="preamble">
            <ul>
                <li class="tocitem"><a href="/constitution-conan/preamble" title="preamble">Preamble</a>
                </li>
            </ul>
        </div>
        <div class="articles">
            <h2>Articles</h2>
            <ul>
                <li class="tocitem"><a href="/constitution-conan/article-1" title="LEGISLATIVE DEPARTMENT">Article I - [The Legislative Branch]</a>
                </li>
                <li class="tocitem"><a href="/constitution-conan/article-2" title="EXECUTIVE DEPARTMENT">Article II - [The Presidency]</a>
                </li>
                <li class="tocitem"><a href="/constitution-conan/article-3" title="JUDICIAL DEPARTMENT">Article III - [The Judiciary]</a>
                </li>
                <li class="tocitem"><a href="/constitution-conan/article-4" title="STATES’ RELATIONS">Article IV - [The States]</a>
                </li>
                <li class="tocitem"><a href="/constitution-conan/article-5" title="MODE OF AMENDMENT">Article V - [The Amendment Process]</a>
                </li>
                <li class="tocitem"><a href="/constitution-conan/article-6" title="PRIOR DEBTS, NATIONAL SUPREMACY, AND OATHS OF">Article VI - [Legal Status of the Constitution]</a>
                </li>
                <li class="tocitem"><a href="/constitution-conan/article-7" title="RATIFICATION">Article VII - [Ratification]</a>
                </li>
            </ul>
        </div>
        <div class="amendments">
            <h2>Amendments</h2>
            <ul>
                <li class="tocitem"><a href="/constitution-conan/amendment-1" title="RELIGION AND FREE EXPRESSION">Amendment I - [Religion, Speech, Press, Assembly, Petition (1791)]</a>
                </li>
                <li class="tocitem"><a href="/constitution-conan/amendment-2" title="BEARING ARMS">Amendment II - [Right to Bear Arms (1791)]</a>
                </li>
                <li class="tocitem"><a href="/constitution-conan/amendment-3" title="QUARTERING SOLDIERS">Amendment III - [Quartering of Troops (1791)]</a>
                </li>
                <li class="tocitem"><a href="/constitution-conan/amendment-4" title="SEARCH AND SEIZURE">Amendment IV - [Search and Seizure (1791)]</a>
                </li>
                <li class="tocitem"><a href="/constitution-conan/amendment-5" title="RIGHTS OF PERSONS">Amendment V - [Grand Jury, Double Jeopardy, Self-Incrimination, Due Process (1791)]</a>
                </li>
                <li class="tocitem"><a href="/constitution-conan/amendment-6" title="RIGHTS OF ACCUSED IN CRIMINAL PROSECUTIONS">Amendment VI - [Criminal Prosecutions - Jury Trial, Right to Confront and to Counsel (1791)]</a>
                </li>
                <li class="tocitem"><a href="/constitution-conan/amendment-7" title="CIVIL TRIALS">Amendment VII - [Common Law Suits - Jury Trial (1791)]</a>
                </li>
                <li class="tocitem"><a href="/constitution-conan/amendment-8" title="FURTHER GUARANTEES IN CRIMINAL CASES">Amendment VIII - [Excess Bail or Fines, Cruel and Unusual Punishment (1791)]</a>
                </li>
                <li class="tocitem"><a href="/constitution-conan/amendment-9" title="UNENUMERATED RIGHTS">Amendment IX - [Non-Enumerated Rights (1791)]</a>
                </li>
                <li class="tocitem"><a href="/constitution-conan/amendment-10" title="RESERVED POWERS">Amendment X - [Rights Reserved to States (1791)]</a>
                </li>
                <li class="tocitem"><a href="/constitution-conan/amendment-11" title="SUITS AGAINST STATES">Amendment XI - [Suits Against a State (1795)]</a>
                </li>
                <li class="tocitem"><a href="/constitution-conan/amendment-12" title="ELECTION OF PRESIDENT">Amendment XII - [Election of President and Vice-President (1804)]</a>
                </li>
                <li class="tocitem"><a href="/constitution-conan/amendment-13" title="SLAVERY AND INVOLUNTARY SERVITUDE">Amendment XIII - [Abolition of Slavery (1865)]</a>
                </li>
                <li class="tocitem"><a href="/constitution-conan/amendment-14" title="RIGHTS GUARANTEED">Amendment XIV - [Privileges and Immunities, Due Process, Equal Protection Apportionment of Representatives, Civil War Disqualification and Debt (1868)]</a>
                </li>
                <li class="tocitem"><a href="/constitution-conan/amendment-15" title="RIGHT OF CITIZENS TO VOTE">Amendment XV - [Rights Not to Be Denied on Account of Race (1870)]</a>
                </li>
                <li class="tocitem"><a href="/constitution-conan/amendment-16" title="INCOME TAX">Amendment XVI - [Income Tax (1913)]</a>
                </li>
                <li class="tocitem"><a href="/constitution-conan/amendment-17" title="POPULAR ELECTION OF SENATORS">Amendment XVII - [Election of Senators (1913)]</a>
                </li>
                <li class="tocitem"><a href="/constitution-conan/amendment-18" title="PROHIBITION OF INTOXICATING LIQUORS">Amendment XVIII - [Prohibition (1919)]</a>
                </li>
                <li class="tocitem"><a href="/constitution-conan/amendment-19" title="WOMEN’S SUFFRAGE RIGHTS">Amendment XIX - [Women's Right to Vote (1920)]</a>
                </li>
                <li class="tocitem"><a href="/constitution-conan/amendment-20" title="COMMENCEMENT OF THE TERMS OF OFFICE">Amendment XX - [Presidential Term and Succession (1933)]</a>
                </li>
                <li class="tocitem"><a href="/constitution-conan/amendment-21" title="REPEAL OF THE EIGHTEENTH AMENDMENT">Amendment XXI - [Repeal of Prohibition (1933)]</a>
                </li>
                <li class="tocitem"><a href="/constitution-conan/amendment-22" title="PRESIDENTIAL TENURE">Amendment XXII - [Two Term Limit on President (1951)]</a>
                </li>
                <li class="tocitem"><a href="/constitution-conan/amendment-23" title="PRESIDENTIAL ELECTORS FOR D. C.">Amendment XXIII - [Presidential Vote in D.C. (1961)]</a>
                </li>
                <li class="tocitem"><a href="/constitution-conan/amendment-24" title="ABOLITION OF THE POLL TAX">Amendment XXIV - [Poll Tax (1964)]</a>
                </li>
                <li class="tocitem"><a href="/constitution-conan/amendment-25" title="PRESIDENTIAL VACANCY AND DISABILITY">Amendment XXV - [Presidential Succession (1967)]</a>
                </li>
                <li class="tocitem"><a href="/constitution-conan/amendment-26" title="REDUCTION OF VOTING AGE">Amendment XXVI - [Right to Vote at Age 18 (1971)]</a>
                </li>
                <li class="tocitem"><a href="/constitution-conan/amendment-27" title="CONGRESSIONAL PAY LIMITATION">Amendment XXVII - [Compensation of Members of Congress (1992)]</a>
                </li>
            </ul>
        </div>

</div>
